@font-face {
    font-family: 'xo_caliburnregular';
    src: url('../fonts/xo_caliburn_nu-webfont.eot');
    src: url('../fonts/xo_caliburn_nu-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/xo_caliburn_nu-webfont.woff') format('woff'),
         url('../fonts/xo_caliburn_nu-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}